@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ddd;
    height: 60px;
    z-index: 1;
}

.body {
    margin-top: 4%;
}

.mainPage {}

.mainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.mainText {
    position: absolute;
    top: 30%;
    left: 10%;
}

.mainText h3 {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
}

.mainText h1 {
    font-family: "Lora", serif;
    font-weight: 100;
}

.mainText p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

.searchArea {
    margin-bottom: 50px;
}

.searchArea h2 {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
}

.searchArea input {
    border: none;
    background-color: #ddd;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.searchArea button,
.bookList button,
.totalPrice button {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    border: none;
    background-color: #ddd;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.cartImg {
    /* width: 15%; */
}

.cartItemText {}

.cartContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    font-family: "Nunito Sans", sans-serif;
}

.cartItemsContainer {
    width: 60%;
}

.cartItems {
    width: 80%;
    /* height: 100%; */
    background-color: #d9d9d9;
}

.cartItem {
    display: flex;
    margin: 10px;
}

.cartItemText {
    font-size: 0.7rem;
    width: 40%;
    text-align: left;
    margin-left: 20px;
}

.cartItemText input {
    width: 40px;
    border: none;
}

.cartItemText button {
    border: none;
}

.removeBtn {
    margin-top: 10px;
    font-family: "Nunito Sans", sans-serif;
}

.totalPrice {
    width: 10%;
    height: 10%;
}

.totalPrice h3 {
    background-color: #ddd;
}

.header a {
    text-decoration: none;
    color: #000;
    padding: 0 50px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
}

.selectedPage {
    font-weight: bold;
}

.bookList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 20px;
}

.bookList a {
    text-decoration: none;
}

.slicedPages {
    font-family: "Inknut Antiqua", serif;
    margin-bottom: 30px;
    position: relative;
    left: 100%;
    letter-spacing: 10px;
}

.detailsContainer {
    display: flex;
    width: 80%;
    justify-content: center;
}

.bookCard h2,
.bookCard h3 {
    font-family: "Lora", serif;
    font-weight: 200;
    color: #000;
}

.bookCard img {
    width: 200px;
    object-fit: cover;
}

.descriptionContainer {
    font-family: "Lora", serif;
    width: 80%;
    position: relative;
    left: 15%;
    background-color: #ddd;
    margin-top: 50px;
}

.imgContainer {
    width: 30%;
    height: 60%;
    position: relative;
    left: 10%;
    margin-top: 50px;
}