.selectedPage {
    font-weight: bold;
}

.bookList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}


/* .slicedPages {
    background-color: aquamarine;
} */

.detailsContainer {
    display: flex;
    width: 80%;
    justify-content: center;
}

.imgContainer {
    width: 30%;
}

.descriptionContainer {}